.weatherLocation {
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 0.5rem;
}

.weatherState {
  color: #009191;
  font-weight: 400;
  font-size: 1.5rem;
}

.locationCont h2 {
  font-size: 1.2rem;
}

.detail {
  background-color: #fff;
  min-height: 100vh;
  padding: 1rem;
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .weatherLocation {
    padding: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .weatherLocation {
    padding: 1.5rem;
  }
}

