body {
  margin: 0;
  padding: 0;
  background-color: #b9e2e2;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-align: left;
  color: #009191;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.container-fluid {
  padding: 0 1rem;
}